p::first-line {
    color: red;
}

table, tr, td, th {
    border: 1px solid seagreen;
    border-collapse: collapse;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
}

tr:nth-child(odd){
    background-color: skyblue;
}

td:hover {
    font-weight: bolder;
    cursor:pointer;
}