* {
    box-sizing: border-box;
}

.container {
    display:grid;
    /*grid-template-columns: 30% 30% auto;*/ /*gives three column layout*/

    /*grid-template-columns: 30% 30% ;*/ /*gives two column layout*/
    grid-template-columns: 50% 40% ; /*gives one column layout*/
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    border: 1px solid purple;
    padding: 10px
}

.row {
    border: 1px solid purple;
    padding: 10px;
}