h1, h2, h3 {
    color:darkmagenta;
}

div.myclass {
    width: 200px;
    border: 1px solid brown;
    padding: 10px;
    margin:10px;
    float: left;
}

.cleardiv{
    clear: both;
    content: "";
}